/* flex布局 */
.flex_row_center {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.flex_row_end {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.flex_row_start {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex_row_around {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex_row_between {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex_vertical_middle {
  align-items: center;
}

.flex_vertical_bottom {
  align-items: flex-end;
}

.flex_vertical_top {
  align-items: flex-start;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex_column_center {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
}
.flex_column_between {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex_column_around {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-around;
}
.flex_column_end {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.flex_column_start {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}